<div class="header">
    <div class="left_nav">
        <img src="assets/images/newlogo.png">
    </div>
    <div class="right_nav">
        <a routerLink="/Registeration">Register</a>
        <!-- <a routerLink="/Login">Login</a> -->
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/Login">User login</a>
              <a class="dropdown-item" routerLink="/admin">Admin login</a>
            </div>
          </div>
    </div>
</div>