.main_section{
    .main_header{
        height: 50px;
        display: flex;
        align-items: center;
        background-color: rgba(190, 224, 215, 0.6);
        span{
            margin-left: 6px;
            font-weight: 500;
            font-size: 17px;
        }
    }
}
.image{
    height: 30px;
    width: 30px;
    img{
        width: 100%;
        height: 100%;
    }
}



// 


.form_section{
    .heading{
        font-weight: 550;
        font-size: 20px;
        font-family: emoji;
        height: 50px;
        display: flex;
        align-items: center;
        span{
            margin-left: 5px;
        }
    }
}
form select{
    height: 20px;
    overflow: scroll;
}
form{
    padding: 7px;
    input{
        padding: 0px;
        width: 100%;
    }
    select{
        width: 100%;
        height: 30px;
    }
}

.btn-12{
    margin-top: 6px;
    background-color: rgba(0,0,235,0.8);
    border-radius: 5px;
    width: 90px;
    color: white;
}

