<app-loginheader></app-loginheader>
<div class="otp_form">
<!-- otp form -->
<div class="container height-100 d-flex justify-content-center align-items-center"> <div class="position-relative"> <div class="card p-2 text-center"> <h6>Please enter the one time password <br> to verify your account</h6> <div> <span>A code has been sent to</span> <small>*******.com</small> </div> 
<form id="otp" (ngSubmit)="checkvalid()" class="inputs d-flex flex-row justify-content-center mt-2">
    <div class="input_form">
        <div class="input_label">
            <input type="number" [(ngModel)]="otp" name="email" placeholder="Enter your OTP" required />
        </div> 
        <div class="mt-4"> 
            <button type="submit" class="btn btn-danger px-4 validate">Validate</button>
        </div>
    </div> 
</form> 

</div> 
    <div class="card-2"> 
        <div class="content d-flex justify-content-center align-items-center"> 
            <span>Didn't get the code</span> 
                <a href="#" class="text-decoration-none ms-3">Resend(1/3)</a>
        </div>
    </div>

</div>

</div>
<!-- end of otp form -->

<div *ngIf="response!=''" class="otp_notify">
    <span>{{response}}</span>
</div>
</div>

